<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/adminLogin.css">
    <title>Admin Login</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Please enter your details below:</h1>
        <form action="/admin/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Submit</button>
        </form>
    </main>
    <div class="empty-container" style="flex-grow:1"></div>
    <%- include('partials/footer') %>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');
            const success = urlParams.get('success'); // Check for success parameter

            if (error === 'login') {
                alert('You are not a registered admin');
            }

            if(error=== 'invalidPassword'){
                alert('Enter valid Credentials');
            }
        };
    </script>
</body>
</html>
