<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/adminLogin.css">
    <title>Signup</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="container" style="height: 70vh; display: flex; flex-direction:column; justify-content:center; align-items:center">
        <h1>Signup</h1>
        <form action="/user/signup" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Signup</button>
        </form>
    </div>
    <div class="empty-container" style="flex-grow:1"></div>
    <%- include('partials/footer') %>
</body>
</html>
